<h2 class="mb-5">Movie info</h2>
<div class="row">
  <div class="col-md-4">
    <h3><%= @movie.title %></h3>
    <p><%= @movie.overview %></p>
    <p>Rating: <%= @movie.rating %></p>

    <% if @params.has_key?(:list) %>
      <%= form_with url: list_bookmarks_path(@list), method: :post, class: "d-flex flex-column align-items-start gap-2" do |f| %>
        <%= f.hidden_field :movie_id, value: @movie.id %>
        <%= f.text_area(:comment, size: '30x2') %>
        <%= f.submit "Add bookmark", class: "btn btn-secondary" %>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-5 d-flex justify-content-center">
    <%= image_tag @movie.poster_url, class: "w-75" %>
  </div>

  <div class="col-md-3">
    <% @movie.reviews.each do |review| %>
      <%= render "review", review: review %>
    <% end %>
  </div>
</div>