<h2>Movie list</h2>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= form_with model: [@list, @bookmark], class: "d-flex flex-column align-items-start gap-2" do |f| %>
        <%= f.label movie.title %>
        <%= f.hidden_field :movie_id, value: movie.id %>
        <%= f.text_field :comment %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </li>
  <% end %>
</ul>