<!DOCTYPE html>
<html>
  <head>
    <title>MovieWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100"">
        <%= render "layouts/header" %>

        <div class="container p-4 p-md-5">
          <%= yield %>
        </div>

        <%= render "layouts/footer" %>
    </div>
  </body>
</html>
