<%= form_with model: article, class: "d-flex flex-column gap-3" do |f| %>
  <div class="row">
    <%= f.label :title, class: "col-md-1" %>
    <%= f.text_field :title, class: "col-md-3" %>
  </div>
  <div class="row">
    <%= f.label :image_url, class: "col-md-1" %>
    <%= f.text_field :image_url, class: "col-md-3" %>
  </div>
  <div class="row">
    <%= f.label :content, class: "col-md-1" %>
    <%= f.text_area :content, class: "col-md-3" %>
  </div>
  <%= f.submit class: "btn btn-primary align-self-start" %>
<% end %>